@charset "UTF-8";
@font-face {
    font-family: 'Exo2';
    src: url('../fonts/exo2.0/exo2.0-thin.eot');
    src: url('../fonts/exo2.0/exo2.0-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0/exo2.0-thin.woff') format('woff'),
		 url('../fonts/exo2.0/exo2.0-thin.otf') format('opentype'),
         url('../fonts/exo2.0/exo2.0-thin.svg#exo2.0') format('svg');
    font-weight: 300;
    font-style: normal;
}

* {margin:0;padding:0;}
* html body{height:100%;}
html{height:100%;font-size:100%!important;}
body{height:100%;font-size:100%;font-family: 'Trebuchet MS';overflow-y:hidden;}

h1{font-family: 'Exo2', sans-serif;font-weight: 300;font-size: 2.5em;margin-bottom: 6%;color:#fff;}

.goods-container{background: #000 url('../images/bg.png');width:100%;height:100%;position:relative;overflow-y:scroll;}
.goods-container:before{content: '';display:block;background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255, 255, 255, 0)); position:absolute;top:0;left:0;width:100%;height:30%;}
.goods-container:after{content: '';display:block;background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0)); position:absolute;bottom:0;left:0;width:100%;height:30%;}

.goods-list-container{height:100%;text-align:center;position:relative;z-index:1;}
.goods-list-container:before{content:'';display:inline-block;height:100%;vertical-align: middle;margin-left:-5px;}
.goods-list-wrap{margin: 0 auto;}
.goods-list{display:inline-block;line-height:1;vertical-align: middle;box-sizing: border-box;margin: 0 auto;text-align:center;width: 100%;}
.goods-list-items{text-align:left;}
.goods-list-items:before, .goods-list-items:after{content: '';display:table;}
.goods-list-items:after{clear:both;}
.goods-item-wrap{float:left;box-sizing: border-box;padding: 0 2%;}

.goods-item-main{display:block;margin-bottom: 15px;}
.goods-item-top{background:#fff;height:40px;width:calc(100% - 40px);margin-left:40px;line-height:40px;padding-left: 5px;border-top: 4px solid #1698d9;border-right: 4px solid #1698d9;box-sizing: border-box;border-radius: 0 10px 0 0;position:relative;color:#666;transition: linear border-color .2s;}
.goods-item-top span{position:relative;z-index:2;display:inline-block;width:100%;height:100%;position:absolute;top:0;left:0;transition: linear top .2s}
.goods-item-top-wrap{position:relative;overflow:hidden;width:100%;height:100%;}
.goods-item-top .goods-item-top-hidden{top:100%;color:#e62e7a;}
/*.goods-item-top:before{content: '';display:block;position:absolute;left:-36px;top:0;border-top:36px solid transparent;border-right:36px solid #fff;z-index:1;}
.goods-item-top:after{content: '';display:block;position:absolute;left:-40px;top:-4px;border-top:40px solid transparent;border-right:40px solid #b3b3b3;}*/
.goods-item-top:before{content: '';display:block;position:absolute;left:-32px;top:10px;background:#fff;width:60px;height:62px;border-left:4px solid #1698d9;transform:rotate(45deg);transition: linear border-color .2s;}
.goods-item-content{background: #fff;border-bottom: 4px solid #1698d9;border-right: 4px solid #1698d9;border-left: 5px solid #1698d9;border-radius:0 0 10px 10px;position:relative;padding-top:5px;z-index:2;transition: linear border-color .2s;}
.goods-item-info{padding: 0 40px;}
.goods-item-info h3{color:#000;font-weight:bold;margin-bottom: 37px;}
.goods-item-info h3 .big{font-size: 2em;display:inline-block;margin-bottom: 10px;}
.goods-item-info h3 .small{font-size: 1.3em;}
.goods-item-description{color:#666;margin-bottom: 21px;height: 48px;overflow:hidden;}
.goods-item-main{text-decoration: none;overflow: hidden;}

.goods-item-image{width: 80%;}
.goods-item-image img{display:inline-block;max-width:100%;vertical-align:bottom;}
.goods-item-weight{position:absolute;bottom:16px;right:16px;width:80px;height:80px;border-radius:50%;background:#1698d9;color:#fff;text-align:center;line-height:80px;transition: linear background .3s;}
.goods-item-weight-text{line-height:1;vertical-align:middle;display:inline-block;}
.item-weight-value{font-size: 2em;}
.item-weight-measure{font-size: 1.2em;}
.goods-item-teaser{color: #fff;font-size:0.9em;text-align:center;height:16px;position:relative;overflow:hidden;}
.goods-item-teaser a{color: #1698d9; text-decoration: none;border-bottom: 1px dashed #1698d9;}
.goods-item-teaser span{display:inline-block;position:absolute;width:100%;top:0;left:0;transition: linear top .2s;}
.goods-item-teaser .goods-item-teaser-hidden, .goods-item-teaser .goods-item-teaser-selected{top:100%;}

.goods-item.selected .goods-item-teaser .goods-item-teaser-selected{top: 0;}
.goods-item.selected .goods-item-teaser .goods-item-teaser-visible{top: -110%;}

.goods-item.activated:hover .goods-item-top .goods-item-top-visible{top: -100%;}
.goods-item.activated:hover .goods-item-top .goods-item-top-hidden{top: 0%;}

/*.goods-item:hover:not(.disabled) .goods-item-teaser .goods-item-teaser-visible{top:-110%;}
.goods-item:hover:not(.disabled) .goods-item-teaser .goods-item-teaser-hidden{top:0;}*/

.goods-item.disabled .goods-item-top, .goods-item.disabled .goods-item-content, .goods-item.disabled .goods-item-top:before{border-color: #b3b3b3;}
.goods-item.disabled .goods-item-weight{background: #b3b3b3;}

.goods-item.selected .goods-item-top, .goods-item.selected .goods-item-content, .goods-item.selected .goods-item-top:before{border-color: #d91667;}
.goods-item.selected .goods-item-weight{background: #d91667;}

.goods-item:hover:not(.disabled):not(.selected) .goods-item-top, .goods-item:hover:not(.disabled):not(.selected) .goods-item-content, .goods-item:hover:not(.disabled):not(.selected) .goods-item-top:before{border-color: #2ea8e6;}
.goods-item:hover:not(.disabled):not(.selected) .goods-item-weight{background: #2ea8e6;}

.goods-item.activated:hover .goods-item-top, .goods-item.activated:hover .goods-item-content, .goods-item.activated:hover .goods-item-top:before{border-color: #e62e7a;}
.goods-item.activated:hover .goods-item-weight{background: #e62e7a;}

.goods-item.disabled .goods-item-content:before, .goods-item.disabled .goods-item-top span:before{content:''; display:block;width:100%;height:100%;background: rgba(255,255,255, 0.8);position:absolute;top:0;left:0;z-index:1;}
.goods-item.disabled .goods-item-top:after{content:''; display:block;position:absolute;left:-32px;top:10px;background: rgba(255,255,255, 0.8);width:60px;height:62px;border-left:4px solid #b3b3b3;transform:rotate(45deg);z-index:1;}
.goods-item.disabled .goods-item-teaser-visible{color: #ffff66;}

@media (max-width:767px){
	.goods-list-wrap{padding: 30px 6%;}
	.goods-item-wrap{width: 100%;float: none;max-width: 330px;margin: 0 auto 30px auto;}
	.goods-item-wrap:last-child{margin: 0 auto;}
}
@media (min-width:768px){
	.goods-list-wrap{max-width: 100%;padding: 0 6%;}
	.goods-item-wrap{width: 50%;margin-bottom: 30px;}
	
	.goods-item-wrap:nth-child(3n+3), .goods-item-wrap:first-child{padding: 0 3% 0 0;}
	.goods-item-wrap:nth-child(2n+2){padding: 0 0 0 3%;}
}
@media (min-width:992px){
	.goods-list-wrap{max-width: 920px;}
	.goods-item-wrap{width: 33.333333%;margin-bottom: 0;}
	.goods-item-wrap:nth-child(4n+4), .goods-item-wrap:first-child{padding: 0 4% 0 0;}
	.goods-item-wrap:nth-child(3n+3){padding: 0 0 0 4%;}
}
@media (min-width:1200px){
	.goods-list-wrap{max-width: 1120px;}
}